<ion-header>
  <ion-toolbar>
    <ion-title>Pepper Fry</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>

    <ion-tab-bar slot="top">
      <ion-tab-button tab="pizza">
        <ion-icon name="triangle"></ion-icon>
        <ion-label>Pizza</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="tab2">
        <ion-icon name="ellipse"></ion-icon>
        <ion-label>Burger</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="tab3">
        <ion-icon name="square"></ion-icon>
        <ion-label>Fries</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  
  </ion-tabs>
</ion-content>
